@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Roboto-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
}

header {
  height: 60px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 3px 7px 0px rgba(200,200,200,0.5);
  position: fixed;
  top: 0;
  left: 0;
}

header p {
  line-height: 0;
}

main {
  height: calc(100vh - 50px);
  width: 100%;
  padding: 100px 35px 50px 20px;
}

p {
  font-size: 1.2rem;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: grey;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.content .item {
  display: flex;
  background-color: #fff;
  width: 100%;
  margin-bottom: 20px;
}

.content .item img {
  width: 150px;
  height: 150px;
}

.content .item h2 {
  width: calc(100% - 150px);
  height: 150px;
  padding: 10px;
}

.plus {
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 3px 3px 7px 1px rgba(200,200,200,0.5);
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.hamburger {
  vertical-align: middle;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0 15px 0 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 20px;
    height: 2px;
    background-color: #000;
    border-radius: 0px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -8px; }
  .hamburger-inner::after {
    bottom: -8px; }

.hamburger .hamburger-inner {
  top: 2px;
}
.hamburger .hamburger-inner::before {
  top: 8px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.hamburger .hamburger-inner::after {
  top: 16px;
}
.hamburger.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger.is-active .hamburger-inner::after {
  transform: translate3d(0, -16px, 0) rotate(-90deg);
}

nav {
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: -70vw;
  padding: 20px;
  width: 70vw;
  background-color: white;
  box-shadow: 3px 0px 7px 0px rgba(200,200,200,0.5);
  transition: all 0.4s;
}

nav.is-showed {
  transform: translateX(100%);
}

nav li {
  list-style-type: none;
  padding: 15px 0;
  border-bottom: 1px solid black;
}

nav li:last-child {
  border-bottom: none;
}

@media screen and (min-width: 700px) {
  .content .item {
    flex-direction: column;
  }

  .content .item {
    width: 250px;
  }

  .content .item img {
    width: 250px;
  }
}
